# Dependencies
node_modules/
package-lock.json

# Build Outputs
dist/
dist-electron/
release/

# Temporary / Stash / Bin Folder
bin/
*.log
*.tmp

# Local Runtime Database, Keys & Cache
tps_benchmark_history.json
tps_provider_keys.json
.env
*.env
.DS_Store
Thumbs.db
