# Dependencies
node_modules/
package-lock.json

# Build Outputs
dist/
dist-electron/
release/

# Temporary / Stash / Bin Folder
bin/
*.log
*.tmp

# Local Runtime Database & Cache
tps_benchmark_history.json
.DS_Store
Thumbs.db
